Package: sentinel
Version: __VERSION__
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: __PRODUCT_SIZE__
Maintainer: Brandon Warner <thebmw@thebmw.tech>
Depends: netplan.io
Depends: iptables
Depends: vlan
Depends: bridge-utils
Depends: aspnetcore-runtime-5.0
Suggests: dnsmasq
Suggests: frr
Suggests: openvpn
Suggests: wireguard
Description: Sentinel Firewall Admin Tools
