Package: sentinel
Version: __VERSION__
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: __PRODUCT_SIZE__
Maintainer: thebmw@thebmw.tech
Description: Sentinel Firewall Admin Tools
